<div id="p1" class="project-div">
  <h3 class="headings">Summary</h3>
  <p>Your summary is an intro that sets the tone for rest of your resume. It is intended to provide a broad overview of your
    professional background.It should emphasize the skills, experience and knowledge that you can offer a potential employer.</p>
</div>
<div id="objective">
  <h3 class="headings">Objective</h3>
  <p> Try to focus on a single main idea that shows why you're perfect fit for the job. Put an objective that aligns your goals
    with the organizational goals.</p>
</div>
<div id="summary">
  <h3 class="headings">Summary</h3>
  <p>Your summary is an intro that sets the tone for rest of your resume. It is intended to provide a broad overview of your
    professional background.It should emphasize the skills, experience and knowledge that you can offer a potential employer.</p>
</div>
<div id="objective">
  <h3 class="headings">Objective</h3>
  <p> Try to focus on a single main idea that shows why you're perfect fit for the job. Put an objective that aligns your goals
    with the organizational goals.</p>
</div>